<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Datenaktualisierung/ Data update/ Mise à jour des données/ Aggiornamento dei dati</title>
        <style th:replace="~{fragments/styles :: email-styles}"></style>
    </head>
    <body>
        <section lang="de">
            <p>Guten Tag</p>
            <p>Die letzte Änderung Ihres Eintrags im swiyu Vertrauensregister liegt mehr als drei Jahre zurück. Wir bitten Sie daher, Ihre Angaben im swiyu Service Portal zu überprüfen und deren Aktualität zu bestätigen oder die Angaben bei Bedarf zu aktualisieren. Dafür stehen Ihnen ab heute 180 Tage zur Verfügung.</p>
            <p>Hinweis:</p>
            <ul>
                <li>Erhalten wir innert obengenannter Frist keine Rückmeldung, wird Ihr Eintrag im swiyu Vertrauensregister gelöscht. Sie gelten dann nicht mehr als verifizierte Aussteller oder Prüfer. Ihre Daten im swiyu Basisregister (insbesondere Identifikatoren) bleiben jedoch bestehen.</li>
                <li>Jede Änderung Ihrer Angaben hat eine erneute Kontrolle durch das Bundesamt für Justiz zur Folge. Dafür wird eine Gebühr von CHF 350.– erhoben.</li>
            </ul>
            <p>Für Fragen stehen wir Ihnen unter <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a> zur Verfügung.</p>
            <p>Link zu Ihrem Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-de}"></div>
        </section>
        <hr />
        <section lang="fr">
            <p>Bonjour</p>
            <p>La dernière modification de votre inscription dans le registre de confiance swiyu remonte à plus de trois ans. Nous vous prions donc de bien vouloir vérifier vos informations sur le swiyu Service Portal et de confirmer qu'elles sont à jour ou de les mettre à jour si nécessaire. Vous disposez à cet effet d'un délai de 180 jours à compter d'aujourd'hui.</p>
            <p>Remarque :</p>
            <ul>
                <li>Si nous ne recevons aucune réponse dans le délai susmentionné, votre inscription au registre de confiance swiyu sera supprimée. Vous ne serez alors plus considéré comme émetteur ou vérificateur certifié. Vos données figurant dans le registre de base swiyu (en particulier vos identifiants) resteront toutefois inchangées.</li>
                <li>Toute modification de vos données entraîne un nouveau contrôle par l'Office fédéral de la justice. Des frais de CHF 350.– seront facturés à cet effet.</li>
            </ul>
            <p>Pour toute question, nous restons à votre disposition à l'adresse <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Lien vers votre business partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-fr}"></div>
        </section>
        <hr />
        <section lang="it">
            <p>Buongiorno</p>
            <p>L'ultima modifica alla sua voce nel registro di fiducia swiyu risale a più di tre anni fa. La preghiamo pertanto di verificare i suoi dati nello swiyu Service Portal e di confermarne l'attualità o, se necessario, di aggiornarli. A tal fine, a partire da oggi, ha a disposizione 180 giorni.</p>
            <p>Nota:</p>
            <ul>
                <li>Se non riceveremo alcuna risposta entro il termine sopra indicato, la sua iscrizione nel registro di fiducia swiyu verrà cancellata. In tal caso, non sarà più considerato come emittente o verificatore verificato. I suoi dati nel registro di base swiyu (in particolare gli identificatori) rimarranno tuttavia invariati.</li>
                <li>Ogni modifica dei suoi dati comporta un nuovo controllo da parte dell'Ufficio federale di giustizia. A tal fine viene applicata una tassa di CHF 350.–.</li>
            </ul>
            <p>Per eventuali domande, restiamo a disposizione all'indirizzo <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link al Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-it}"></div>
        </section>
        <hr />
        <section lang="en">
            <p>Hello</p>
            <p>It has been more than three years since your entry in the swiyu Trust Registry was last updated. We therefore ask you to check your details on the swiyu Service Portal and confirm that they are accurate and up to date. If any changes are required, please update your details accordingly. You have 180 days from the day of this notice to complete this review.</p>
            <p>Please note:</p>
            <ul>
                <li>If we do not receive a response within the above-mentioned period, your entry in the swiyu Trust Registry will be deleted. You will then no longer be considered a verified issuer or verifier. However, your data in the swiyu Base Registry (in particular your identifiers) will remain.</li>
                <li>Any change to your details will result in a new verification process by the Federal Office of Justice. A fee of CHF 350.– will be charged for this.</li>
            </ul>
            <p>If you have any questions, please contact us at <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link to your Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-en}"></div>
        </section>
    </body>
</html>
