<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Prüfung verzögert/ Review delayed/ Examen retardé/ Ritardo nella revisione</title>
        <style th:replace="~{fragments/styles :: email-styles}"></style>
    </head>
    <body>
        <section lang="de">
            <p>Guten Tag</p>
            <p>Zurzeit übersteigen die eingehenden Anträge unsere Kapazitäten. Daher verzögert sich die Prüfung Ihres Antrags auf Aufnahme in das swiyu Vertrauensregister. Wir bitten Sie um Geduld und danken Ihnen für Ihr Verständnis.</p>
            <p>Für Fragen stehen wir Ihnen unter <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a> zur Verfügung.</p>
            <p>Link zu Ihrem Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-de}"></div>
        </section>
        <hr />
        <section lang="fr">
            <p>Bonjour</p>
            <p>Le nombre de demandes reçues dépasse actuellement nos capacités. L'examen de votre demande d'inscription au registre de confiance swiyu est donc retardé. Nous vous demandons de faire preuve de patience et vous remercions de votre compréhension.</p>
            <p>Pour toute question, nous restons à votre disposition à l'adresse <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Lien vers votre business partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-fr}"></div>
        </section>
        <hr />
        <section lang="it">
            <p>Buongiorno</p>
            <p>Al momento, le richieste in arrivo superano le nostre capacità. Di conseguenza, l'esame della sua richiesta di iscrizione al registro di fiducia swiyu subirà un ritardo. Le chiediamo di avere pazienza e la ringraziamo per la sua comprensione.</p>
            <p>Per eventuali domande, restiamo a disposizione all'indirizzo <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link al Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-it}"></div>
        </section>
        <hr />
        <section lang="en">
            <p>Hello</p>
            <p>We are currently receiving more applications than we can process. As a result, there is a delay in reviewing your application for enrollment in the swiyu Trust Registry. We ask for your patience and thank you for your understanding.</p>
            <p>If you have any questions, please contact us at <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link to your business partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-en}"></div>
        </section>
    </body>
</html>
