<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Neue DID/ New DID/ Nouveau DID/ Nuovo identificatore DID</title>
        <style th:replace="~{fragments/styles :: email-styles}"></style>
    </head>
    <body>
        <section lang="de">
            <p>Guten Tag</p>
            <p>Ihr(e) ausgewählte/n Identifikator(en) (DID) wurden erfolgreich dem swiyu Vertrauensregister hinzugefügt.</p>
            <p>Für Fragen stehen wir Ihnen unter <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a> zur Verfügung.</p>
            <p>Link zu Ihrem Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-de}"></div>
        </section>
        <hr />
        <section lang="fr">
            <p>Bonjour</p>
            <p>Le ou les identifiants (DID) que vous avez sélectionnés ont été ajoutés avec succès au registre de confiance swiyu.</p>
            <p>Pour toute question, nous restons à votre disposition à l'adresse <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Lien vers votre business partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-fr}"></div>
        </section>
        <hr />
        <section lang="it">
            <p>Buongiorno</p>
            <p>Gli identificatori (DID) selezionati sono stati aggiunti con successo al registro di fiducia swiyu.</p>
            <p>Per eventuali domande, restiamo a disposizione all'indirizzo <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link al Business Partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-it}"></div>
        </section>
        <hr />
        <section lang="en">
            <p>Hello</p>
            <p>Your selected identifier(s) (DID) have been successfully added to the swiyu Trust Registry.</p>
            <p>If you have any questions, please contact us at <a th:href="'mailto:' + ${contactEmail}" th:text="${contactEmail}">contact</a>.</p>
            <p>Link to your business partner: <a th:href="${servicePortalPartnerUrl}" th:text="${servicePortalPartnerUrl}">link</a></p>
            <div th:replace="~{fragments/signature :: signature-en}"></div>
        </section>
    </body>
</html>
